body {
    background-color: #242532;
}

h1 {
    font-family: "PT Mono", sans-serif;
    font-size: 4rem;
    color: #7fffd4;
}

p {
    font-family: "Neucha", sans-serif;
    font-size: 2rem;
    color: #f0f8ff;
}

.btn {
    font-family: "Exo 2", sans-serif;
    display: block;
    color: #7fffd4;
    width: max-content;
    height: max-content;
    background-color: #353643;
    border: 2px solid #464754;
    padding: 10px 30px;
    border-radius: 12px;
}

.btn:active {
    animation: click 0.3s ease;
}

@keyframes click {
    0% { transition: scale(1); }
    50% { transition: scale(1.2); }
    100% { transition: scale(1); }
}

.container {
    opacity: 1;
}

.section {
    background-color: #353643;
    width: 60%;
    height: max-content;
    border: 3px solid #464754;
    border-radius: 12px;
    padding: 10px 10px;
}
